app.localhost {
	tls internal
	reverse_proxy host.docker.internal:3000 {
		lb_try_duration 10s
		lb_try_interval 250ms
	}
}

api.localhost {
	tls internal
	reverse_proxy host.docker.internal:5001 {
		lb_try_duration 10s
		lb_try_interval 250ms
	}
}

# Google OAuth forbids subdomains of localhost, so Logto is served on plain localhost:3001
localhost:3001 {
	tls internal
	reverse_proxy logto:3001
}

auth-admin.localhost {
	tls internal
	reverse_proxy logto:3002
}

logs.localhost {
	tls internal
	reverse_proxy seq:80
}

mail.localhost {
	tls internal
	reverse_proxy mailpit:8025
}
