# Public URL of the app
APP_BASE_URL=APP_BASE_URL # Example: https://app.localhost

# Logto "Traditional web" application
LOGTO_ENDPOINT=LOGTO_ENDPOINT # Example: https://localhost:3001
LOGTO_APP_ID=LOGTO_APP_ID # Example: tanpk2kl7j6aybogjvnk8
LOGTO_APP_SECRET=LOGTO_APP_SECRET # Example: hH13kY70QFCthdIwRs2CSXvVpEkiOL1A
LOGTO_COOKIE_SECRET=LOGTO_COOKIE_SECRET # Example: NXudmFCGLx1ocjNYG2IchR84zeTJV7fc
LOGTO_API_RESOURCE=LOGTO_API_RESOURCE # Example: https://api.localhost

# Address of the API
API_URL=API_URL # Example: https://api.localhost
